
.Rampa {
color: white;
background-color:#23282B;
height: 70px;
padding: 10px;
font-size: 50px;
margin-bottom: -40px;
}

.bloque {
background-color: orangered;
height: 45px;
width: px;
padding: 10px;
font-size: 25px;
color: white;


}
.bloque1 {
font-size: 20px;
margin-block: 10px;
padding: 10px;
margin-bottom: 10px;



}

.bloque2 {
font-size: 29px;
margin-block: 10px;
padding: 10px;


}

a {

color: white;
background-color:#23282B;
text-decoration: none;

}
a:hover{
	background-color: orangered;
}

.menu{
background-color: #23282B;
height:50px ;
padding: 0px;
text-align: left;
font-size: 30px;
margin-top: 0px;
}



