
.Rampa {
color: white;
background-color:#23282B;
height: 7%;
width:95.6%;
padding: 3%;
font-size: 50px;
margin-bottom: -1%;
margin-top: -1%;
margin-left: -1%;
}

.bloque {
background-color: #fc4b08;
height: 7%;
width: 98%;
padding:2%;
text-align: center;
font-size: 30px;
color: white;
margin-left: -1%;
letter-spacing: 2px;


}

.bloque1 {
font-size: 28px;
margin-block: 1%;
padding: 1%;
margin-bottom: 1%;
width:95%;
height: 20%;
text-align: center;

}

.bloque2 {
font-size: 28px;
margin-block: 1%;
padding: 1%;
margin-bottom: 1%;
width: 80%;
height: 20%;
text-align: left;

}

a {

color: white;
background-color:#23282B;
text-decoration: none;

}

a:hover{
	background-color: orangered;
}

.menu{
background-color: #23282B;
height:5%;
padding: 1%;
margin-left: -1%;
font-size: 30px;
margin-top: 0%;
width: 99.8%;
letter-spacing: 0.5px;
}

.pie {
color:white;
background-color:#23282B;
text-align: center;
width: 101%;
height: 30%;
padding: 0.5%;
margin-left: -0.6%;
margin-bottom: 1%;
font-size: 17px;

}

