
.Rampa {
color: white;
background-color:#23282B;
height: 70px;
width:99.8%;
padding: 10px;
font-size: 50px;
margin-bottom: -40px;
margin-top: -10px;
margin-left: -8px;
}

.bloque {
background-color: orangered;
height: 45px;
width: 99.8%;
padding:15px;
font-size: 30px;
color: white;
margin-left: -9px;
letter-spacing: 5px;


}

.bloque1 {
font-size: 28px;
margin-block: 10px;
padding: 10px;
margin-bottom: 10px;
width: 50%;

}


a {

color: white;
background-color:#23282B;
text-decoration: none;

}
a:hover{
	background-color: orangered;
}

.menu{
background-color: #23282B;
height:70px ;
padding: 10px;
margin-left: -9px;
font-size: 30px;
margin-top: 0px;
width: 99.8%;
}

.pie {
color:white;
background-color:#23282B;
text-align: center;
width: 101%;
height: 105px;
margin-left: -8px;
margin-bottom: -10px;
font-size: 17px;

}

